@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="flex: 1; background-color: white">
    <div class="d-flex justify-content-center align-items-center vh-100" style="background-color: white; width: 100%">
        <div class="text-center" style="background-color: white">
            <h1 class="display-4 mb-4">Welcome to the EventMaster Experience! 🎉</h1>
            <p class="lead mb-5">Planning an event has never been this easy (or fun)! Whether you're hosting an epic party, organizing a corporate event, or want to make fun memories, EventMaster has got you covered.</p>
            <div class="mb-5 d-flex justify-content-center align-items-center">
                <button class="btn btn-success btn-lg mx-3" style="width: 150px;" onclick="location.href='/Identity/Account/Login'">Login</button>
                <p class="mb-0 mx-3"> - or - </p>
                <button class="btn btn-success btn-lg mx-3" style="width: 150px;" onclick="location.href='/Identity/Account/Register'">Register</button>
            </div>
            <h2 class="text-muted">Here’s to creating unforgettable memories!</h2>
        </div>
    </div>
</div>
